<div class="tab-content" id="tabs-tabContentVertical">
  <div
    class="tab-pane fade active show"
    id="tabs-homeVertical"
    role="tabpanel"
    aria-labelledby="tabs-home-tabVertical"
  >
    <app-posts></app-posts>
  </div>
  <div
    class="tab-pane fade"
    id="tabs-profileVertical"
    role="tabpanel"
    aria-labelledby="tabs-profile-tabVertical"
  >
    <app-users></app-users>
  </div>
  <div
    class="tab-pane fade"
    id="tabs-messagesVertical"
    role="tabpanel"
    aria-labelledby="tabs-profile-tabVertical"
  >
    Tab 3 content vertical
  </div>
</div>
