<nav class="bg-slate-600">
  <div class="container mx-auto flex flex-row-reverse">
    <div class="wrapper py-5">
      <ul class="nav nav-tabs flex" id="tabs-tabVertical" role="tablist">
        <li class="nav-item flex-grow text-center" role="presentation">
          <a
            href="#tabs-homeVertical"
            class="nav-link block active"
            id="tabs-home-tabVertical"
            data-bs-toggle="pill"
            data-bs-target="#tabs-homeVertical"
            role="tab"
            aria-controls="tabs-homeVertical"
            aria-selected="true"
            >Posts</a
          >
        </li>
        <li class="nav-item flex-grow text-center" role="presentation">
          <a
            href="#tabs-profileVertical"
            class="nav-link block"
            id="tabs-profile-tabVertical"
            data-bs-toggle="pill"
            data-bs-target="#tabs-profileVertical"
            role="tab"
            aria-controls="tabs-profileVertical"
            aria-selected="false"
            >Users</a
          >
        </li>
        <li class="nav-item flex-grow text-center" role="presentation">
          <a
            href="#tabs-messagesVertical"
            class="nav-link block"
            id="tabs-messages-tabVertical"
            data-bs-toggle="pill"
            data-bs-target="#tabs-messagesVertical"
            role="tab"
            aria-controls="tabs-messagesVertical"
            aria-selected="false"
            >Settings</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
