<section class="users bg-slate-800">
  <div class="container mx-auto py-10">
    <h1 class="text-white text-center">All Users</h1>
    <div class="add-btn flex flex-row-reverse">
      <a
        href="add-users"
        class="btn text-white bg-slate-600 hover:bg-slate-800 custom-transition"
        >Add a new User</a
      >
    </div>
    <div class="wrapper mt-3 rounded-2xl overflow-hidden">
      <table class="min-w-full">
        <thead class="bg-white bg-opacity-30 backdrop-blur-sm border-b">
          <tr>
            <th
              scope="col"
              class="text-lg font-[bold] text-slate-900 px-6 py-4 text-left"
            >
              #
            </th>
            <th
              scope="col"
              class="text-lg font-[bold] text-slate-900 px-6 py-4 text-left"
            >
              Name
            </th>
            <th
              scope="col"
              class="text-lg font-[bold] text-slate-900 px-6 py-4 text-left"
            >
              Username
            </th>
            <th
              scope="col"
              class="text-lg font-[bold] text-slate-900 px-6 py-4 text-left"
            >
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-b">
            <td class="px-6 py-4 text-white">1</td>
            <td class="px-6 py-4 text-white">M Khubaib</td>
            <td class="px-6 py-4 text-white">mkzubairi</td>
            <td
              class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
            >
              <div class="btns flex gap-3 items-center">
                <div class="update">
                  <a href="#" title="Edit"
                    ><div class="image w-8 h-8 overflow-hidden">
                      <img src="/assets/images/edit.png" alt="" /></div
                  ></a>
                </div>
                <div class="delete">
                  <a href="#" title="Delete"
                    ><div class="image w-8 h-8 overflow-hidden">
                      <img src="/assets/images/delete.png" alt="" /></div
                  ></a>
                </div>
              </div>
            </td>
          </tr>
          <tr class="border-b">
            <td class="px-6 py-4 text-white">2</td>
            <td class="px-6 py-4 text-white">Nouman Munir</td>
            <td class="px-6 py-4 text-white">nomi</td>
            <td
              class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
            >
              <div class="btns flex gap-3 items-center">
                <div class="update">
                  <a href="#" title="Edit"
                    ><div class="image w-8 h-8 overflow-hidden">
                      <img src="/assets/images/edit.png" alt="" /></div
                  ></a>
                </div>
                <div class="delete">
                  <a href="#" title="Delete"
                    ><div class="image w-8 h-8 overflow-hidden">
                      <img src="/assets/images/delete.png" alt="" /></div
                  ></a>
                </div>
              </div>
            </td>
          </tr>
          <tr class="border-b">
            <td class="px-6 py-4 text-white">3</td>
            <td class="px-6 py-4 text-white">Bilal Waheed</td>
            <td class="px-6 py-4 text-white">billy</td>
            <td
              class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
            >
              <div class="btns flex gap-3 items-center">
                <div class="update">
                  <a href="#" title="Edit"
                    ><div class="image w-8 h-8 overflow-hidden">
                      <img src="/assets/images/edit.png" alt="" /></div
                  ></a>
                </div>
                <div class="delete">
                  <a href="#" title="Delete"
                    ><div class="image w-8 h-8 overflow-hidden">
                      <img src="/assets/images/delete.png" alt="" /></div
                  ></a>
                </div>
              </div>
            </td>
          </tr>
          <tr class="border-b">
            <td class="px-6 py-4 text-white">4</td>
            <td class="px-6 py-4 text-white">Zubair Ahmad</td>
            <td class="px-6 py-4 text-white">zubair</td>
            <td
              class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
            >
              <div class="btns flex gap-3 items-center">
                <div class="update">
                  <a href="#" title="Edit"
                    ><div class="image w-8 h-8 overflow-hidden">
                      <img src="/assets/images/edit.png" alt="" /></div
                  ></a>
                </div>
                <div class="delete">
                  <a href="#" title="Delete"
                    ><div class="image w-8 h-8 overflow-hidden">
                      <img src="/assets/images/delete.png" alt="" /></div
                  ></a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
