<section class="header bg-slate-900 py-10">
  <div class="container mx-auto">
    <h1 class="text-slate-400 uppercase text-center">
      World<span class="text-white">Story</span>
    </h1>
    <div class="logs flex justify-between mt-10">
      <div class="admin flex items-center gap-3">
        <div
          class="image w-[50px] h-[50px] rounded-[50%] overflow-hidden flex items-center justify-center"
        >
          <img src="/assets/images/people2.png" alt="" />
        </div>
        <div class="name text-white flex flex-col">
          <span>M Khubaib Zubairi</span>
          <span class="username text-slate-400 leading-3">@mkzubairi</span>
        </div>
      </div>
      <div class="logout">
        <button
          type="submit"
          class="text-slate-200 custom-tramsition hover:text-slate-100 font-[bold] text-xl"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</section>
