<section class="update-post flex items-center bg-slate-800 py-20">
  <div class="container mx-auto">
    <div class="wrapper bg-slate-600 bg-opacity-40 p-10 rounded-2xl shadow-2xl">
      <h1 class="text-center text-yellow-50">Update the Post</h1>
      <form action="" class="flex flex-col items-center gap-6 mt-10">
        <div class="form-group flex flex-col md:w-3/4 gap-2">
          <label for="title" class="text-white">Title</label>
          <input
            type="text"
            name="title"
            placeholder="Enter a title for this post..."
            class="bg-slate-800 backdrop-blur-sm text-white"
          />
        </div>
        <div class="form-group flex flex-col md:w-3/4 gap-2">
          <label for="desc" class="text-white">Description</label>
          <textarea
            name="desc"
            id=""
            cols="30"
            rows="10"
            placeholder="Add Description for this post..."
            class="bg-slate-800 backdrop-blur-sm text-white"
          ></textarea>
        </div>
        <div class="form-group md:w-3/4">
          <label for="image" class="text-white">Choose an Image</label>
          <input type="file" name="image" class="bg-transparent" />
          <div
            class="selected-image w-[250px] h-[180px] overflow-hidden self-start flex justify-center items-center"
          >
            <img src="/assets/images/people2.png" class="w-full" alt="" />
          </div>
        </div>
      </form>
      <div class="button text-center mt-6">
        <button
          type="submit"
          class="btn bg-slate-600 hover:bg-slate-800 custom-transition text-white shadow-xl"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</section>
